---
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@/i18n/utils";
import { NAV_LINKS, SITE } from "@/siteConfig.ts";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<header
  class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between p-3 pb-8 font-sans sm:p-6"
>
  <a
    href={translatePath('/')}
    class="text-lg font-semibold text-black sm:text-xl dark:text-white"
    >{SITE.title}</a
  >
  <nav>
    <ul class="flex list-none items-center gap-2 p-0 sm:gap-3">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <a href={translatePath(NAV_LINKS[navItemKey].path)} class="prose">
                {t(NAV_LINKS[navItemKey].label)}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
