---
import { getCollection } from "astro:content";
import Work from "./Work.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const obras = await getCollection("obras");

---

<section class="py-3">
  <h2 class="text-muted-text dark:text-dark-muted-text mb-3 text-lg font-bold">
    Obras
  </h2>
  <div class="grid list-none gap-4 p-0">
    {t('work.title')}
    {
      obras.map((obra) => (
        <Work obra={obra}/>
      ))
    }
  </div>
</section>
