---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import ExternalLink from "@/components/ExternalLink.astro";

const obras = await getCollection("obras");
---

<section class="py-3">
  <h2 class="text-muted-text dark:text-dark-muted-text mb-3 text-lg font-bold">
    Obras
  </h2>
  <div class="grid list-none gap-4 p-0">
    {
      obras.map((obra) => (
        <Image src={ obra.data.foto } alt={'foto'}/>
        <ExternalLink href={'#'}>
          {obra.data.titulo}
        </ExternalLink>
      ))
    }
  </div>
</section>
