---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

export function getStaticPaths() {
  return [
    { params: { lang: "en" }},
    { params: { lang: "es" }},
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
  <SeoPage slot="head" title={t('nav.bio')} />
  <div class="mt-16 text-center">
    <h2 class="mb-3 text-4xl font-bold text-balance">{t('nav.bio')}</h2>
    <p class="text-balance">
      {t('nav.bio')}
    </p>
  </div>
</BaseLayout>
